
<div>
    <h1>
        Stock de Productos
    </h1>
   <div>
        <strong>Producto</strong>
        <strong>Descripcion</strong>
    
</div>
<div id="caja"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>
